body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4338ca;
}

#loading {
    display: none;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

.weather-icon {
    width: 60px;
    vertical-align: middle;
}
.icon-wrapper {
    font-size: 60px;       /* Icon size */
    text-align: center;     /* Center horizontally */
    margin: 10px 0;         /* Spacing */
}
